* {
    box-sizing: border-box;
  }
 
body{ 
background-color: #caf0f8;

}
/* styling the navigation bar with botton */
.botton {
color: white;
height: 20px;
width: 20px; 
background-color: #03045e;
border: 1px solid black;
border-radius: 5%; 
padding: 20px 40px;
margin: 10px;
}
/* remove the underline from the links since all the links used in this page are inside bottons */
a{
  text-decoration: none; 
}
/*  creat botton for contact */
.bottoncontact {
color: white;
height: 20px;
width: 20px; 
background-color: #4244a3;
border: 1px solid black;
padding: 5px 15px;
margin: 5px;
margin-bottom: 300px}
/* style the tittle section */ 
.title{
background-color: #48cae4;
padding: 50px 100px 100px 10px;
margin: 0px -10px 0px -10px;
border: 2px solid #03045e;
 }
/*  styling the text color and font family and size for elements  */
h1, h2{
     color: #03045e;
     font-family:'Trebuchet MS' ,'Lucida Sans', Arial, sans-serif;
     text-align: center;
     font-size: 30px;
 }
 
h3 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 25px;
  color: #023e8a;
  text-align-last: center;
}
p, ul , ol{
font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 18px; 
 }
 /* this class will be used on element that we want to display on the center */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* making a navigation bar and footer bar*/
 header nav{
background-color: #90e0ef; 
padding: 30px 100px 30px 30%;
margin: -10px -10px 0px -10px;

 } 

 footer{
text-align: center;
background-color:#90e0ef;
padding: 10px;
margin: 15px -10px -10px -10px;
border: 2px solid #03045e;
 }

hr {
  border: 1px solid #073b4c;
}
