* {
    box-sizing: border-box;
  }
 
body{ 
background-color: #caf0f8;

}

/* remove the underline from the links since all the links used in this page are inside bottons */
a{
  text-decoration: none; 
}

header{
  background-color:#0B1C51;
  margin: -15px -10px -10px -10px;
  font-family: 'Courier New', Courier, monospace;
}
header h1{text-align: center;
  color: blanchedalmond;
  margin: 0;
  padding-top: 20px;
  font-size: 50px;

}
header nav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
header nav ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;
}
header nav ul li{
 margin: 10px ;
 text-decoration: none;

}
header nav ul li a {
  color: blanchedalmond;
  text-decoration: none;
  margin: 0 20px 0 0;
}

 h2{
     color: #03045e;
     font-family:'Trebuchet MS' ,'Lucida Sans', Arial, sans-serif;
     text-align: center;
     font-size: 30px;
 }
 
h3 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 25px;
  color: #023e8a;
  text-align-last: center;
}
p, ul , ol{
font-family: "Trebuchet MS" ,Tahoma , FreeMono, monospace;
font-size: 18px; 
 }

hr {
  border: 1px solid #073b4c;
}
form label {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
  color:#0B1C51;
  font-family: arial;
}
textarea {
  height: 4.75rem;
  width: 100%;
  color: #0B1C51;
  font-size: 16px;
  margin-bottom: 20px;
}
fieldset{
  padding: 10px 12px;
	margin: 10px 0 20px 0;
  border-radius: 6px;
  border:1px solid #073b4c
}

legend {
  background-color: #0B1C51;
  color: #fff;
  padding: 3px 6px;
  border-radius: 6px;
}
form button {
  padding: 10px 16px;
  border-radius: 10px;
  border: 0;
  font-family: Tahoma;
  font-size: 16px;
  background: #0B1C51;
  color: #fff;
  margin: 0 8px 10px 0;
}
form input {
  display: block;
  width: 100%;
}

footer{
  text-align: center;
  color: blanchedalmond;
  background-color:#0B1C51;
  padding: 10px;
  margin: 15px -10px -10px -10px;
  border: 2px solid #03045e;
   }
   img {
    width: 100%;
  }
   a img {
    width: 20%;
  }

  
  
@media all and (min-width: 800px) {
  header {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    margin: -10px -10px 10px -10px;          
  }
  header h1{
      font-size: 30px;
      margin-right: 10px;
  }
  header nav ul li a {
      color: blanchedalmond;
      text-decoration: none;
      margin: 0 10px 0 0;
  }
  .group {
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
  }
 
  .item {
    flex: 1;
    margin: 10px;
  }

  .cent{
    align-self: center;
  }
	 .profile {
    width: 100%;
    margin: 10px ;
    border-radius: 50%;
    top: 0;
  }
}























